acinclude.m4
aclocal.m4
autom4te.cache
build
build-stamp
build-yaz
ChangeLog
config.h
config.h.in
config.nice
config.status
configure
configure.ac
configure.in
.deps
install-sh
*.la
.libs
libtool
*.lo
*.log
ltmain.sh
ltmain.sh.backup
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
php_yaz.dep
run-tests.php
