build-stamp
build-yaz
build
configure
configure.in
run-tests.php
Makefile
Makefile.global
Makefile.objects
Makefile.fragments
acinclude.m4
autom4te.cache
config.*
aclocal.m4
*.log
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
*.lo
*.la
.libs
.deps
ChangeLog
